.container{
    width:100%;
    background-color:#3498db;
    padding:10px;
}

.btn_container{
    display:flex;
    justify-content: space-evenly;
}

.txt{
    color:white;
}

.txt svg{
    width: 20px !important;
    height: 20px !important;
}

.range{
    outline:none;
    appearance: none;
    background-color: transparent;
}

.range::-webkit-slider-runnable-track{
    background-color:#2c3e50;
    padding:1px;
    border-radius: 8px;
}

.range::-webkit-slider-thumb{
    width:14px;
    height:14px;
    border-radius: 8px;
    background: #3498db;
    appearance: none;
    -webkit-appearance: none;
}