.container{
    width:100%;
    background-color:#3498db;
    padding:10px;
}

.btn_container{
    display:flex;
    justify-content: space-evenly;
}

.txt{
    color:white;
}

.txt svg{
    width: 20px !important;
    height: 20px !important;
}

.range{
    outline:none;
}